<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-button fill="clear">
        <ion-icon name="home" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Hello Ionic
    </ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="showOptions($event)">
        <ion-icon name="more" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>


  <ion-toolbar color="danger">
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" (click)="showActionSheet()">
    <ion-fab-button color="danger">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card *ngIf="imageBase64URL != null">
    <ion-img [src]="imageBase64URL"></ion-img>
  </ion-card>

</ion-content>