<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-button fill="clear">
        <ion-icon name="home" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Hello Ionic
    </ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="more" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>


  <ion-toolbar color="danger">
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item>
      <ion-icon name="mail" slot="start"></ion-icon>
      <ion-label position="fixed">Email</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="key" slot="start"></ion-icon>
      <ion-label>Password</ion-label>
      <ion-input type="password" placeholder="12345678"></ion-input>
    </ion-item>

    <ion-radio-group>
      <ion-list-header>
        Select Gender
      </ion-list-header>
      <ion-item>
        <ion-label>Male</ion-label>
        <ion-radio value="male"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Female</ion-label>
        <ion-radio value="female"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <ion-item>
      <ion-label>I accept the terms</ion-label>
      <ion-checkbox color="danger" slot="start"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Select Your Designation</ion-label>
      <ion-select interface="alert" id="mySelect">
          <ion-select-option>Jr.Developer</ion-select-option>
          <ion-select-option>Developer Godzilla Dino</ion-select-option>
          <ion-select-option>Project Manager</ion-select-option>
          <ion-select-option>Team Lead</ion-select-option>
      </ion-select>
      
    </ion-item>

  </ion-list>

  <ion-button (click)="navigate()">Go to Office</ion-button>

</ion-content>